<div class="bs-followed-business-results">

    <div ng-repeat="result in results" class="bs-followed-business-result" href="#" data-uuid="{{result.uuid}}">
        <button class="button button-fab button-fab-top-right expanded button-energized-900" ng-click="unfollow('{{result.uuid}}')"><i class="icon ion-minus"></i></button>
        <button class="button button-fab button-fab-top-right expanded button-energized-900" ng-click="cart('{{result.uuid}}','app.subscriptions.cart')"><i class="icon ion-ios-cart"></i></button>
        <button class="button button-fab button-fab-top-right expanded button-energized-900" ng-click="configure('{{result.uuid}}', 'app.configurebusiness')"><i class="icon ion-arrow-shrink"></i></button>

        <img ng-src="{{urlBackend}}/businesses/1.0/businesses/{{result.uuid}}/logo#{{rand}}">
        <div>
            <h2>{{result.name}}</h2>
            <div>{{result.city}}</div>
            <div>{{result.address}}</div>
            <div>{{result.uuid}}</div>
        </div>
    </div>

</div>


