<ion-view class="ha-sub-view" view-title="Edit business">
    <ion-content class="ha-content ha-sub-content">

        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.businessmanager.business.servicesmanager" class="tab-item" ng-click="item = 2" ng-class="{active:item == 2}">
                <i class="icon ion-arrow-expand"></i> Servizi
            </a>
            <a ui-sref="app.businessmanager.business.update" class="tab-item" ng-click="item = 3" ng-class="{active:item == 3}">
                <i class="icon ion-edit"></i> Modifica
            </a>
            <a ui-sref="app.businessmanager.business.map" class="tab-item" ng-click="item = 4" ng-class="{active:item == 4}">
                <i class="icon ion-map"></i> Mappa
            </a>
            <a ui-sref="app.businessmanager.business.productsmanager" class="tab-item" ng-click="item = 5" ng-class="{active:item == 5}">
                <i class="icon ion-grid"></i> Prodotti
            </a>
            <a ui-sref="app.businessmanager.business.subscribersmanager" class="tab-item" ng-click="item = 6" ng-class="{active:item == 6}">
                <i class="icon ion-person-stalker"></i> Sottoscrittori
            </a>
        </div>

        <div ui-view name="subinner" class="h100100">
        	<app-owned-business-form uuid="{{uuid}}"></app-owned-business-form>
        </div>

    </ion-content>
</ion-view>