<div class="bs-owned-business-results">

    <div ng-repeat="result in results" class="bs-owned-business-result" href="#" data-uuid="{{result.uuid}}">
      <button class="button button-fab button-fab-top-right expanded button-energized-900" ng-click="remove('{{result.uuid}}', $event)"><i class="icon ion-minus"></i></button>
      <button class="button button-fab button-fab-top-right expanded button-energized-900" ng-click="edit('{{result.uuid}}', 'app.businessmanager.business')"><i class="icon ion-gear-b"></i></button>

      <img ng-src="{{urlBackend+'/businesses/1.0/businesses/'+result.uuid+'/logo#'+rand}}" onerror="this.src='img/no-logo.png';">
      <div> 
      	<h2>{{result.name}}</h2>
      	<div>{{result.city}}</div>
      	<div>{{result.address}}</div>
      	<div>P.IVA: {{result.pIva}}</div>
      	<div>F.CODE: {{result.pIva}}</div>
      	<div>UUID: {{result.uuid}}</div>
      </div>
    </div>

</div>