<ion-view view-title="Sottoscrizioni">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.subscriptions.list" class="tab-item" ng-click="item = 1" ng-class="{active:item == 1}">
                <i class="icon ion-navicon-round"></i> Lista sottoscrizioni
            </a>
            <a ui-sref="app.subscriptions.rules" class="tab-item" ng-click="item = 2" ng-class="{active:item == 2}">
                <i class="icon ion-arrow-shrink"></i> Regole generali
            </a>
            <a ui-sref="app.subscriptions.newsubscription" class="tab-item" ng-click="item = 3" ng-class="{active:item == 3}">
                <i class="icon ion-android-checkmark-circle"></i> Nuova Sottoscrizione
            </a>
            <a ui-sref="app.subscriptions.map" class="tab-item" ng-click="item = 4" ng-class="{active:item == 4}">
                <i class="icon ion-map"></i> Mappa sottoscrizioni
            </a>
        </div>

        <div ui-view name="inner" class="h100100">
			<app-subscriptions-list></app-subscriptions-list>
		</div>
    </ion-content>
</ion-view>