<i class="icon ion-close ha-popup-close" ng-click="popupClose()"></i>

<h3>{{actualProduct._locDescription}}</h3>

<div class="list ha-bottom-200">
    <div class="row">
        <div class="col">
            <ha-select-by-service
                    multiple="true"
                    selected-items="categoriesSelected"
                    search-label="Class/family/brick:"
                    selected-items-label="Class/family/brick selezionati"
                    service="category"
                    item-descriptor="name">
            </ha-select-by-service>
        </div>
    </div>
    <div class="row ha-input-area">
        <label class="col item item-input item-floating-label">
            <span class="input-label">Codice</span>
            <input type="text" name="code" ng-model="data.code" placeholder="Codice interno">
        </label>
        <label class="col item item-input item-floating-label">
            <span class="input-label">Codice a barre</span>
            <input type="text" name="barcode" ng-model="data.barcode" placeholder="Codice a barre">
        </label>
    </div>
    <div class="row ha-input-area">
        <label class="col item item-input item-floating-label">
            <span class="input-label">Descrizione breve</span>
            <input type="text" name="shortdesc" ng-model="data._locDescription" placeholder="Descrizione breve">
        </label>
    </div>
    <div class="row ha-input-area">
        <label class="col item item-input item-floating-label">
            <span class="input-label">Descrizione lunga</span>
            <textarea type="text" name="longdesc" ng-model="data._locLongDescription" placeholder="Descrizione lunga" class="ha-medium-height"></textarea>
        </label>
    </div>
    <div class="row ha-input-area">
        <label class="col item item-input item-floating-label">
            <span class="input-label">Listino 1</span>
            <input type="text" name="price1" ng-model="data.prices[0]" placeholder="Listino 1">
        </label>
        <label class="col item item-input item-floating-label">
            <span class="input-label">Listino 2</span>
            <input type="text" name="price2" ng-model="data.prices[1]" placeholder="Listino 2">
        </label>
        <label class="col item item-input item-floating-label">
            <span class="input-label">Listino 3</span>
            <input type="text" name="price3" ng-model="data.prices[2]" placeholder="Listino 3">
        </label>
    </div>

    <div class="padding ha-center" ng-if="validData && !loading">
        <button class="button button-small button-assertive ink" ng-click="upload()">Aggiorna prodotto</button>
    </div>
</div>