<div class="ha-item">
	<input type="text" id="search" class="ha-input form-control" placeholder="Search business" style="max-width: 100%;" />
</div>

<div class="bs-search-business-results">

    <div ng-repeat="result in results" class="bs-search-business-result" href="#" data-uuid="{{result.uuid}}">
        <img class="bs-logo" ng-src="{{urlBackend}}/businesses/1.0/businesses/{{result.uuid}}/logo#{{rand}}">
        <div class="bs-description">
            <h2>{{result.name}}</h2>
            <div>{{result.city}}</div>
            <div>{{result.address}}</div>
        </div>
        <div class="bs-buttons">
            <button class="button button-fab expanded button-energized-900" ng-click="follow('{{result.uuid}}')"><i class="icon ion-android-checkmark-circle"></i></button>
        </div>
    </div>

</div>