<div style="padding:10px;">
<form name="promotionForm" id="promotion-form" method="post" novalidate>

    <div class="list">
        <div class="row ha-tab-image">
            <div class="col">
                <img src="img/promotions/specialoffer-min.jpg" width="100%" ui-sref="app.businessmanager.business.servicesmanager.promotionsmanager.create.specialoffer" ng-click="click($event)" />
            </div>
            <div class="col">
                <img src="img/promotions/discount-min.jpg" width="100%" ui-sref="app.businessmanager.business.servicesmanager.promotionsmanager.create.discount" ng-click="click($event)" />
            </div>
            <div class="col">
                <img src="img/promotions/nxm-min.jpg" width="100%" ui-sref="app.businessmanager.business.servicesmanager.promotionsmanager.create.nxm" ng-click="click($event)" />
            </div>
            <div class="col">
                <img src="img/promotions/lastminute-min.jpg" width="100%" ui-sref="app.businessmanager.business.servicesmanager.promotionsmanager.create.lastminute" ng-click="click($event)" />
            </div>
            <div class="col">
                <img src="img/promotions/nplus-min.jpg" width="100%" ui-sref="app.businessmanager.business.servicesmanager.promotionsmanager.create.nplus" ng-click="click($event)" />
            </div>
            <div class="col">
                <img src="img/promotions/coupon-min.jpg" width="100%" ui-sref="app.businessmanager.business.servicesmanager.promotionsmanager.create.coupon" ng-click="click($event)" />
            </div>
        </div>

        <div ui-view name="promotion-edit-view" class="ha-center app-promotion">
            Selezionare una tipologia di promozione
        </div>

    </div>
</form>
</div>