<h3>Sconto percentuale su uno o più prodotti</h3>

<div class="list">

    <div class="row">
        <label class="col item item-input">
            <span class="input-label">Dalla data/ora</span>
        </label>
        <label class="col item item-input">
            <span class="input-label">Alla data/ora</span>
        </label>
    </div>
    <div class="row">
        <div class="col app-promotion-date" ion-datetime-picker ng-model="promotions.specialOffer.fromDatetimeValue" style="text-align:left;">
            <i class="icon ion-ios-calendar-outline positive"></i><span class="datetime">{{promotions.specialOffer.fromDatetimeValue | date: "yyyy-MM-dd H:mm:ss"}}</span>
        </div>
        <div class="col app-promotion-date" ion-datetime-picker ng-model="promotions.specialOffer.toDatetimeValue" style="text-align:left;">
            <i class="icon ion-ios-calendar-outline positive"></i><span class="datetime">{{promotions.specialOffer.toDatetimeValue | date: "yyyy-MM-dd H:mm:ss"}}</span>
        </div>
    </div>

    <div class="row">
        <label class="col item item-input">
            <span class="input-label">Selezione dei prodotti/servizi</span>
        </label>
    </div>

    <!-- TODO -->

    <div class="padding" style="text-align: center;margin-bottom:200px;">
        <button id="button-send" class="button button-small button-assertive ink" ng-click="send()">Avvia promozione</button>
    </div>

</div>