<ion-view view-title="Aggiunta news">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="content has-header">
            <div class="list">
                <h2>News:</h2>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Title</span>
                    <input type="text" name="title" ng-model="inviting.firstName" placeholder="First name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <input type="text" name="description" ng-model="inviting.lastName" placeholder="Last name">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>