<ion-view  class="ha-sub-view" view-title="Services manager">
    <ion-content class="ha-sub-sub-content">
    
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.businessmanager.editbusiness.servicesmanager.promotionsmanager" class="tab-item">
                <i class="icon ion-navicon-round"></i> Promozioni
            </a>  
            <a ui-sref="app.businessmanager.editbusiness.servicesmanager.couponsmanager" class="tab-item">
                <i class="icon ion-navicon-round"></i> Coupon
            </a>
            <a ui-sref="app.businessmanager.editbusiness.servicesmanager.lastminutemanager" class="tab-item">
                <i class="icon ion-navicon-round"></i> Last minute
            </a>
            <a ui-sref="app.businessmanager.editbusiness.servicesmanager.domicilio" class="tab-item">
                <i class="icon ion-home"></i> A domicilio
            </a>
        </div>
        
        <div ui-view name="services-inner">
            AREA SERVIZI: i servizi sono selezionabili tra quelli generici e quelli specifici dell'attività del business
        </div>
		
    </ion-content>
</ion-view>