<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/crown.png'); background-size: cover;"></span>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list class="app-menu-list">
                <!-- Sistema -->
                <ion-item nav-clear menu-close class="app-menu-item-separator">
                    <h1>Sistema e sviluppo</h1>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.inspect">
                    <i class="icon ion-bug"></i><label>Inspect</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.service">
                    <i class="icon ion-settings"></i><label>System settings</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.userattributes">
                    <i class="icon ion-gear-a"></i><label>Attributi utente</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.todo">
                    <i class="icon ion-settings"></i><label>TODO list</label>
                </ion-item>

                <!-- Games user -->
                <ion-item nav-clear menu-close class="app-menu-item-separator">
                    <h1>Giochi</h1>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.tris">
                    <i class="icon ion-xbox"></i><label>Tris</label>
                </ion-item>

                <!-- Servizi user -->
                <ion-item nav-clear menu-close class="app-menu-item-separator">
                    <h1>Servizi utente</h1>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.microsocial">
                    <i class="icon ion-chatboxes"></i><label>&#181;Social</label>
                </ion-item>

                <!-- Servizi business -->
                <ion-item nav-clear menu-close class="app-menu-item-separator">
                    <h1>Servizi business</h1>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.consulting">
                    <i class="icon ion-university"></i><label>&#181;Consulting</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.cart">
                    <i class="icon ion-social-rss"></i><label>Carrello</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.store">
                    <i class="icon ion-social-rss"></i><label>Magazzino</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.agents">
                    <i class="icon ion-social-rss"></i><label>Agenti</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.restaurant">
                    <i class="icon ion-social-rss"></i><label>Restaurant booking</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.booking">
                    <i class="icon ion-social-rss"></i><label>B&B booking</label>
                </ion-item>

                <!-- Test -->
                <ion-item nav-clear menu-close class="app-menu-item-separator">
                    <h1>Test</h1>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.lookingfor">
                    <i class="icon ion-search"></i><label>Test RT buttons</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.qrcode" ng-if="isBusinessUser()">
                    <i class="icon ion-bag"></i><label>Codice QR</label>
                </ion-item>

                <!-- Estensioni -->
                <ion-item nav-clear menu-close class="app-menu-item-separator">
                    <h1>Estensioni</h1>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.domotics">
                    <i class="icon ion-radio-waves"></i><label>Domotica</label>
                </ion-item>
            </ion-list>
        </ion-content>
	</ion-side-menu>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left"></button>
            </ion-nav-buttons>   
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/crown.png'); background-size: cover;"></span>
            <h2>#hash.it</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list class="app-menu-list">
                <ion-item nav-clear menu-close ui-sref="app.profile" ng-if="isUserLogged()">
                    <i class="icon ion-person app-menu-icon"></i><label>Profilo</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.subscriptions">
                    <i class="icon ion-android-checkmark-circle app-menu-icon"></i><label>Le tue sottoscrizioni</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.business" ng-if="isUserLogged() && !isBusinessUser()">
                    <i class="icon ion-bag"></i><label>Il tuo business</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.businessmanager" ng-if="isUserLogged() && isBusinessUser()">
                    <i class="icon ion-cash"></i><label>Gestisci il tuo business</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.gallery" ng-if="isUserLogged()">
                    <i class="icon ion-android-map"></i><label>Volantino</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.news">
                    <i class="icon ion-social-rss"></i><label>News</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.invite" ng-if="isUserLogged()">
                    <i class="icon ion-android-people"></i><label>Invita i tuoi amici</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.info" ng-if="!isUserLogged()">
                    <i class="icon ion-information-circled"></i><label>Informazioni</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.help" ng-if="isUserLogged()">
                    <i class="icon ion-help"></i><label>Assistenza</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.landingpage">
                    <i class="icon ion-reply-all"></i><label>Prima pagina</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.login" ng-if="!isUserLogged()">
                    <i class="icon ion-log-in"></i><label>Log-in</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.landingpage" ng-if="isUserLogged()" ng-click="logout()">
                    <i class="icon ion-log-out"></i><label>Log-out</label>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.landingpage" ng-click="exit()">
                    <i class="icon ion-android-close"></i><label>Exit</label>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="reloadPage()">
                    <i class="icon ion-refresh"></i><label>Reload</label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<!--
<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Home" icon="ion-log-in" ui-sref="app.landingpage">
    <ion-nav-view name="landing-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Login" icon="ion-log-in" ui-sref="app.login">
    <ion-nav-view name="login-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Exit" icon="ion-android-close" ng-click="exit()" ng-class="{'BrokerConnecting': haBrokerConnecting, 'haBrokerConnected': haBrokerConnected, 'haBrokerNotConnected': !haBrokerConnecting && !haBrokerConnected}">
  </ion-tab>
</ion-tabs>
-->
