<ion-view view-title="Inspect">
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="ha-inspect">
            <h2>INSPECT</h2>
            <div class="row row-top">
                <div class="col">
                    <h3>Application</h3>
                    <ul>
                        <li><label>code</label>: {{appcode}}</li>
                        <li><label>description</label>: {{appdescription}}</li>
                    </ul>

                    <h3>Connections</h3>
                    <ul>
                        <li><label>backend</label>: {{backend}}</li>
                        <li><label>broker</label>: {{broker.ip}}:{{broker.port}}</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>User</h3>
                    <ul>
                        <li><label>UUID</label>: {{localStorage.currentUser.uuid}}</li>
                        <li><label>username</label>: {{localStorage.currentUser.username}}</li>
                        <li><label>email</label>: {{localStorage.currentUser.email}}</li>
                        <li><label>first name</label>: {{localStorage.currentUser.firstName}}</li>
                        <li><label>last name</label>: {{localStorage.currentUser.lastName}}</li>
                    </ul>
                </div>
            </div>
            <div class="row row-top">
                <div class="col" style="background-color: #EEEEEE;padding:5px;">

                    <h3>Console</h3>

                    <ion-scroll direction="y" class="wide-as-needed" style="background-color: #BBDEFB;min-height:90px;padding:10px;">
                        <ion-scroll direction="x" ng-repeat="message in console" style="height:30px;">
                            <i class="icon ion-search"></i>&nbsp;{{message}}
                        </ion-scroll>
                    </ion-scroll>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>