<ion-view view-title="TODO">
    <ion-content ng-class="{expanded:isExpanded}">
        <div style="padding: 30px;">

            <h3>TODO</h3>
            <h2>&#181;Social</h2>

            <ul class="ha-bullet">
                <li>
                    Gli utenti del sistema in prossimità di un BUSINESS accedono all'area &#181;Social del BUSINESS.
                    <br />L'aggancio avviene tramite GPS oppure tramite BEACON.
                    <br />Nell'area social gli utenti possono chattare, giocare, ...
                </li>
                <li>...</li>
            </ul>
        </div>
    </ion-content>
</ion-view>