<ion-view view-title="TODO">
    <ion-content ng-class="{expanded:isExpanded}">
        <div style="padding: 30px;">

            <h3>TODO</h3>
            <h2>&#181;Consulting</h2>

            <ul class="ha-bullet">
                <li>
                    Gli utenti BUSINESS del sistema accedono all'area &#181;Consulting.
                    <br />Nell'area sono registrati professionisti nei vari settori che possono essere consultati
                    su questioni professionali di loro competenza.
                    <br />E' possibile sottoscrivere i notiziari professionali e ricevere le news redatte dai
                    supervisor delle aree professionali.
                </li>
                <li>...</li>
            </ul>
        </div>
    </ion-content>
</ion-view>