<ion-view class="ha-sub-view" view-title="Profilo personale">
    <ion-content class="ha-content ha-sub-content" ng-class="{expanded:$scope.isExpanded}">

        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/user.png');"></div>
                <h3><a class="light">{{user.firstName +' '+ user.lastName}}</a></h3>
                <h4>customer</h4>
            </div>
        </div>

        <div class="tabs tabs-dark tabs-icon-top static">
			<a ui-sref="app.profile" class="tab-item">
				<i class="icon ion-person"></i> Profilo
			</a>
            <a ui-sref="app.profile.map" class="tab-item">
                <i class="icon ion-map"></i> Area geografica di interesse
            </a>
        </div>

		<div ui-view name="inner" class="h100100">
			<ha-profile-component>
				<h2 class="content padding double-padding-x center">Personal data</h2>
				<form name="profileForm" id="profile-form" novalidate style="margin-bottom:50px;">

					<div class="list profile">
						<label class="item item-input item-floating-label">
							<span class="input-label">Username</span>
							<input type="text" name="username" ng-model="updatingUser.username" placeholder="Username">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">First Name</span>
							<input type="text" name="firstName" ng-model="updatingUser.firstName" placeholder="First name">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Last Name</span>
							<input type="text" name="lastName" ng-model="updatingUser.lastName" placeholder="Last name">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Email</span>
							<input type="text" name="email" ng-model="updatingUser.email" placeholder="EMail">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Mobile</span>
							<input type="text" name="mobile" ng-model="updatingUser.mobile" placeholder="Mobile">
						</label>

						<!-- - EXTRA ATTRIBUTES -->
						<div ng-repeat-start="attribute in currentUser.attributeTypes" class="ha-display-none"></div>
							<!-- TEXT -->
							<label ng-if="attribute.type=='text'" class="item item-input item-floating-label">
								<span class="input-label">{{attribute.label}}</span>
								<input type="text" name="{{'extra.'+attribute.name}}" placeholder="{{attribute.label}}" app-attr-uuid="{{attribute.uuid}}" class="extra">
							</label>

							<!-- TEXTAREA -->
							<label ng-if="attribute.type=='textarea'" class="item item-input item-floating-label">
								<span class="input-label">{{attribute.label}}</span>
								<textarea type="textarea" name="{{'extra.'+attribute.name}}" placeholder="{{attribute.label}}" app-attr-uuid="{{attribute.uuid}}" class="extra"></textarea>
							</label>

							<!-- RADIO BUTTONS -->
							<div ng-if="attribute.type=='radio'" class="item item-input">
								<span class="input-label has-input">{{attribute.label}}</span>
							</div>
							<div ng-if="attribute.type=='radio'" class="item item-input ha-border-bottom">
								<ion-radio type="radio" name="{{'extra.'+attribute.name}}" ng-repeat="value in attribute.values" app-attr-uuid="{{attribute.uuid}}">{{value.label}}</ion-radio>
							</div>

							<!-- CHECK-BOXES -->
							<div ng-if="attribute.type=='check'" class="item item-input">
								<span class="input-label has-input">{{attribute.label}}</span>
							</div>
							<div ng-if="attribute.type=='check'" class="item item-input ha-border-bottom">
								<ion-checkbox type="check" name="{{'extra.'+attribute.name}}" ng-repeat="value in attribute.values" app-attr-uuid="{{attribute.uuid}}">{{value.label}}</ion-checkbox>
							</div>

							<!-- SELECT -->
							<label ng-if="attribute.type=='select'" class="item item-input item-select ha-border-bottom">
								<span class="input-label">{{attribute.label}}</span>
								<select type="select" name="{{'extra.'+attribute.name}}" app-attr-uuid="{{attribute.uuid}}" class="extra">
									<option class="label" value="">Selezionare</option>
									<option ng-repeat="value in attribute.values" value="{{value.value}}">{{value.label}}</option>
								</select>
							</label>
						<div ng-repeat-end="" class="ha-display-none"></div>
					</div>

					<div class="padding" style="text-align: center">
						<button id="button-update" class="button button-small button-assertive ink">Update</button>
					</div>

				</form>
			</ha-profile-component>
		</div>

    </ion-content>
</ion-view>
