<ion-view view-title="TODO">
    <ion-content ng-class="{expanded:isExpanded}">
        <div style="padding: 30px;">

            <h3>TODO</h3>
            <h2>Lista</h2>

            <ul class="ha-bullet">
                <li>Sistema di notifica:
                    <ul class="ha-bullet">
                        <li>acquistare pacchetto SMS da gateway</li>
                        <li>...</li>
                    </ul>
                </li>
                <li>...:
                    <ul class="ha-bullet">
                        <li>...</li>
                        <li>...</li>
                    </ul>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>