<ion-view  class="ha-sub-view" view-title="Business manager">
    <ion-content class="ha-sub-sub-content">
    
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.businessmanager.editbusiness.productsmanager.create" class="tab-item">
                <i class="icon ion-plus"></i> Nuovo prodotto
            </a>  
            <a ui-sref="app.businessmanager.editbusiness.productsmanager.list" class="tab-item">
                <i class="icon ion-navicon-round"></i> Lista prodotti
            </a>    
        </div>
        
        <div ui-view name="products-inner">

        </div>
		
    </ion-content>
</ion-view>