<div style="padding: 20px;">

    <h3>TODO</h3>
    <h2>Lista amministrabile dei sottoscrittori</h2>

    <ul class="ha-bullet">
        <li>In ogni riga:
            <ul class="ha-bullet">
                <li>un sottoscrittore e campi info principali</li>
                <li>button apertura scheda analitica del singolo sottoscrittore</li>
            </ul>
        </li>
        <li>Nella scheda analitica:
            <ul class="ha-bullet">
                <li>Un button per il BANNING del sottoscrittore</li>
                <li>area MESSAGING con sottoscrittore: chat/SMS/push/e-mail</li>
            </ul>
        </li>
    </ul>
</div>